{% extends 'layout.html' %}

{% block body %}
    <section class="jumbotron" id='wp_grad'>
        <div>
            <div id="center">
                <h1>ALL TASKS</h1>
                {% include "task/search.html" %}
            </div>

        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NAME</th>
                    <th>CREATED</th>
                    <th>CHANGE STATUS</th>
                    <th> UPDATE | REMOVE</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td><a href="{{ obj.get_absolute_url }}"> {{ obj.name }}</a> 
                    </td>
                    <td> {{ obj.created_at }}</td>
                    <td>
                        <form action="/update/{{ obj.id }}" method="post">
                            {% csrf_token %}
                            <!-- <input type="hidden" name="id" value="{{ obj.id }}"> -->
                            <input type="hidden" name="status" value="YES">
                            <button class="btn btn-success" id="smt">COMPELTE</button>
                        </form>
                        <form action="/update/{{ obj.id }}" method="post">
                                {% csrf_token %}
                                <!-- <input type="hidden" name="id" value="{{ obj.id }}"> -->
                                <input type="hidden" name="status" value="NO">
                                <button id="smt" class="btn btn-warning">PENDING</button>
                            </form>
                    </td>

                    <td>
                        <button  id="smt" class="btn btn-success">
                            <a  href="{% url 'task_update' obj.id %}" id='text_white'>UPDATE</a>
                        </button>
                        <form action="{% url 'task_delete' obj.id %}">
                            <button id="smt" class="btn btn-danger">
                            DELETE</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <h4>No Tasks Yet</h4>
            </tbody>
            {% endfor %}
        </table>
    </section>
{% endblock %}
