{% extends 'layout.html' %}
{% block body %}
{% load static %}
    <div class="jumbotron" id='pg_grad'>
        {% if messages %}
        <div class="alet alert-success alert-dismissable">
            {% for message in messages %} 
            <p>{{ message }}</p>
            {% endfor %} 
        </div> 
        {% endif %}
        <form action="{% url 'task_create' %}" method="post" class="create_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control">
                <small class="form-text text-muted">Cannot be blank</small>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" class="form-control">
                <small class="form-text text-muted">Cannot be blank</small>
            </div>

            <input type="text" name="status" class="form-control" value="NO">
            <button class="btn btn-primary" >SAVE TASK</button>
        </form>
    </div >
{% endblock %}